@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=Courgette&family=Kalam:wght@400;700&family=Merriweather:ital@0;1&family=Rowdies:wght@400;700&family=Work+Sans:wght@400;500;800&display=swap');
@import './media.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/*font-family: 'Abril Fatface', cursive;*/
/*font-family: 'Caveat', cursive;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Kalam', cursive;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Rowdies', cursive;*/
/*font-family: 'Work Sans', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
ul li {
  list-style: none
}
a, a:visited {
  text-decoration: none;
  color: #807b5b;
}
a:link {
  /*background-color: greenyellow;*/
  text-decoration: none;
}
a:hover {
  color: #08729d;
  text-decoration: none;
}
a:hover {
  /*background-color: #11bd11;*/
  text-decoration: none;
}

button {
  background-color: rgba(253, 253, 253, 0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
  font-family: 'Kalam', cursive;
  background-color: #d0d3d8;
}


/*====================================================================*/
.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  width: 100%;
  border-bottom: 2px solid white;
  color: #807e78;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}
.icon-logo{
  margin-right: 5%;
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 3px solid white;
  background-color: white;

}
/*------------------------------------------------*/
.search-box{
  width: 33%;
  display: flex;
  padding-left: 15%;
}
.search-input {
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ced1d6;
  font-size: 1rem;
}
.search-button{
  background-color: #ced1d6;
}
.search-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/*-----------------------------------*/
.mode-container {

}
.sun-mode{
  width: 40px;
  height: 40px;
}
.sun-mode-button {
  width: 35px;
  height: 35px;
}
/*==========================================================================*/
.main-container {
  display: flex;
  justify-content: center;
  /*background-color: #11bd11;*/
  position: relative;

  max-width: 1000px;
  margin: 68px auto 0;
  /*margin-top: 68px;*/
}

/*=======================================================================*/
.subreddits_bar {
  flex-direction: column;
  max-width: 170px;
  display: flex;
  color: #807b5b;
  background-color: #e3eae5;
  border: 1px solid rgba(128, 123, 91, 0.39);
  font-family: 'Caveat', cursive;
}

.icon-subreddits {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}
.button-subreddit {
  background-color: rgba(168, 171, 187, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
  text-align: center;

}
.subreddits_topics {
  text-align: center;
  border-top: #807b5b;
}
.subredit-list {
  display: flex;
  flex-direction: column;
  align-items: center  ;
  /*тут я зроби змыни!!!!!!!!!!!!!!!!!!!!!!!!!*/
  border-top: 20px #444444;
  margin: 0 5px 10px;
  border-top: 1px solid rgba(128, 123, 91, 0.39);
  /*margin-bottom: 10px;*/
}


.subredit-list-element {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center ;
}


.subredit-list-conteiner {
  height: 30px;
  width: 30px;
  border-radius:50%;
  border: 3px solid white;
  overflow: hidden;
}

.subredit-list-logo{
  height: 30px;
  width: 30px;
}

.button-top-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 80px;
  z-index: 50;
  margin: 0 5px;
  border-top: 1px solid rgba(128, 123, 91, 0.39);
}
.button-top {
  cursor: pointer;
}
/*===========================================================*/
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
}
.error-button {
  max-width: 250px;
  flex-direction: row;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}
.error-button:hover {
  border-radius: 10%;
  color: #08729d;
}

/*.post-container {*/
/*  max-width: 100%;*/
/*}*/

.post {
  border: 1px solid rgba(127, 122, 90, 0.36);
  display: grid;
  grid-template-columns: 50px 200px auto;
  /*display: flex;*/
  margin-left: 10px;
  margin-bottom: 10px;
}

/*-------------------------------------------*/
.post-score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e3eae5;
  margin: 5px;
  font-size: 12px;
}
.post-score {
  text-align: center;
  font-weight: bold;
}

.post-score-icon {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}
.post-score-icon-plus {
  width: 25px;
  height: 25px;

}
/*---------------------------------------------------*/
.media {
  display: flex;
  justify-content: center;
}

.post-img-container{
  /*flex-basis: 30%;*/
  /*margin-top: 5px;*/
  /*margin-right: 5px;*/
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.post-img-container a{
  display: flex;
  justify-content: center;
}
.post-img {
  width: 100%;
}
.post-no-img{
  width: 50%;

}
.post-img-title {
  width: 100%;
  opacity: 0.1;

}
/*-------------------------------------------------*/
.post-information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e3eae5;
  padding: 3px;
  margin: 5px;
}
.posted-by {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.posted-by a{
  margin: 0 0.3rem;
}
.post-information-self {
  max-height: 150px;
  overflow: auto;
}
.post-information-self{
  font-family: 'Kalam', cursive;
}
.post-comments {
  display: flex;
  padding-top: 10px;
  font-size: 1rem;
  border-top: 1px solid #807e78;

}

.post-comments-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/*===========================================================*/
.comments-container {
  padding: 0 15px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}
.comments-container h2{
  text-align: center;
}


.comment-container {
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.comment-by {
  display: flex;
  flex-wrap: wrap;
}
.comment-by a{
  margin: 0 0.3rem;
}
.comment-video {
  display: flex;
  justify-content: center;
  /*max-width: 500px;*/
}
.comment-img {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}
.comment-img-thumbnail {
  max-width: 200px;
}
.comment-content{
  border-top: 1px solid black;
  padding: 10px;
}
.post-img-container {
  display: flex;
  justify-content: center;
}
.comment-icon-container{
  display: flex;
  align-items: center;
}
.comment-icon{
  width: 30px;
  margin: 5px 20px;
}
.coments-body{
  padding-left: 2rem;
  margin: 0.5rem 0;
  font-family: 'Courgette', cursive;
}
.coment-vote{
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.coment-like {
  width: 18px;
}
.coment-like-rotation
{
  width: 18px;
  transform: rotate(180deg);
}

