@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=Courgette&family=Kalam:wght@400;700&family=Merriweather:ital@0;1&family=Rowdies:wght@400;700&family=Work+Sans:wght@400;500;800&display=swap');



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  font-family: 'Kalam', cursive;
  background-color: #d0d3d8;
}


/*font-family: 'Abril Fatface', cursive;*/
/*font-family: 'Caveat', cursive;*/
/*font-family: 'Courgette', cursive;*/
/*font-family: 'Kalam', cursive;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Rowdies', cursive;*/
/*font-family: 'Work Sans', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
ul li {
  list-style: none
}
a, a:visited {
  text-decoration: none;
  color: #554B07;
}
a:link {
  /*background-color: greenyellow;*/
  text-decoration: none;
}
a:hover {
  color: #08729d;
  text-decoration: none;
}
a:hover {
  /*background-color: #11bd11;*/
  text-decoration: none;
}

button {
  background-color: rgba(253, 253, 253, 0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/*====================================================================*/
.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  width: 100%;
  border-bottom: 2px solid white;
  color: #807e78;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}
.logo-container p{
  color: #f1f4f5;
}
.logo-container p:hover {
  color: #08729d;
  text-decoration: none;
}
.icon-logo{
  margin-right: 5%;
  width: 50px;
  height: 50px;
  border-radius:50%;
  border: 3px solid white;
  background-color: white;

}
/*------------------------------------------------*/
.search-box{
  width: 33%;
  display: flex;
  padding-left: 15%;
}
.search-input {
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ced1d6;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-input:focus {
  border: 1px solid #f1f4f5; /* Змінюємо колір межі (border) при фокусі */
  box-shadow: 15px 0 5px rgba(227, 234, 229, 0.5); /* Додаємо тінь для виділення поля */
  outline: none; /* Забираємо стандартний синій контур при фокусі (додайте це, якщо потрібно) */
}
.search-button{
  background-color: #ced1d6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;  
}
/*-----------------------------------*/
/*.mode-container {*/

/*}*/
/*.sun-mode{*/
/*  width: 40px;*/
/*  height: 40px;*/
/*}*/
/*.sun-mode-button {*/
/*  width: 35px;*/
/*  height: 35px;*/
/*}*/
/*==========================================================================*/
/*#root {*/
  /*background-color: #08729d;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*!*background-color: #11bd11;*!*/
  /*!*position: relative;*!*/

  /*max-width: 1000px;*/
  /*margin: 68px auto 0;*/
/*}*/

.main-container {
  display: flex;
  justify-content: center;
  /*background-color: #11bd11;*/
  position: relative;

  max-width: 1000px;
  margin: 68px auto 0;
  /*margin-top: 68px;*/
  /*background-color: red;*/
  /* overflow: hidden; */
}

/*=======================================================================*/
.subreddits-container {
  flex-direction: column;
  align-items: center;
  max-width: 170px;
  display: flex;
  color: #807b5b;
  background-color: #e3eae5;
  border: 1px solid rgba(128, 123, 91, 0.39);
  font-family: 'Caveat', cursive;
  /* position: relative; */
}
/*-----------------------------*/
.button-subreddit {
  background-color: rgba(168, 171, 187, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 30px;
  text-align: center;
}
.icon-subreddit {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}
/*---------------------------------------*/
/* body .subreddits-container {
  display: none;
} */
.subreddit-title {
  text-align: center;
  display: none;
  /* border-bottom: #807b5b; */
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  color: #807b5b;

}
.subreddit-title:hover {
  color: #08729d;
}



/*-----------------------------------------*/
.subreddit-list {
  display: flex;
  flex-direction: column;
  /*align-items: center  ;*/
  /*тут я зроби змыни!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*border-top: 200px #444444;*/
  margin: 0 5px 10px;
  border-top: 1px solid rgba(128, 123, 91, 0.39);
  /*margin-bottom: 10px;*/
}
.subreddit-list-element {
  /* margin-top: 10px; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.subreddit-list-container {
  height: 30px;
  width: 30px;
  border-radius:50%;
  border: 3px solid white;
  overflow: hidden;
}
.subreddit-list-container img{
  height: 30px;
  width: 30px;
}
/*----------------------------------*/
/*.button-top-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  position: sticky;*/
/*  top: 180px;*/
/*  z-index: 5;*/
/*  margin: 0 5px;*/
/*  border-top: 1px solid rgba(128, 123, 91, 0.39);*/
/* }*/
.button-top-container {
  position: sticky;
  top: 70px;  
}
.button-top {
  cursor: pointer;
  width: 60px;
}
.button-top img {
  width: 100%;
  opacity: 0.3;
}

/*========================Post=================================== */

.post-container {
  /*background-color: #5ac7f3;*/
  max-width: 100%;
}
/*-----------------------------------------------------*/
.post {
  background-color: white;
  max-width: 100%;
  border: 1px solid rgba(127, 122, 90, 0.36);
  /*display: grid;*/
  /*grid-template-columns: 100px 200px auto ;*/
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

  /*max-width: 800px;*/
  /*overflow: hidden;*/

}

/*-------------------------------------------*/
.post-score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e3eae5;
  margin: 5px;
  font-size: 12px;
  flex: 0 0 35px;
  border-radius: 10px;
}
.post-score {
  text-align: center;
  font-weight: bold;
}

.post-score-icon {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}
.post-score-icon-plus {
  width: 25px;
  height: 25px;

}
/*---------------------------------------------------*/
.media {
  display: flex;
  flex: 0 0 200px;
  /*justify-content: flex-start;*/
  margin: 5px 0;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.madia-video{
  display: flex;
  align-items: center;
  max-width: 200px;
  /*display: flex;*/
  /*align-items: center;*/
  /*align-items: center;*/
  /*flex-basis: 30%;*/
  /*margin-top: 5px;*/
  /*margin-right: 5px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*margin: 5px 0;*/
}
.madia-video video{
  width: 100%;
}


.media-img-container img{
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
/*.post-img img{*/
/*  max-width: 100%;*/
/*}*/
/*.post-no-img{*/
/*  max-width: 50%;*/

/*}*/
.media-no-img{
  /*width: 100%;*/
  max-width: 75%;
  opacity: 0.1;
  margin: 0 auto;
}


/*-------------------------------------------------*/
.post-information-container {
  width: 100%;
  display: flex;
  /*width: 100%;*/
  flex-direction: column;
  background-color: #e1e8e3;
  /*// перевірити*/
  justify-content: space-between;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
  /*height: 100%;*/
  /*flex: 0 0 auto;*/
}
.posted-by {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.posted-by a{
  margin: 0 5px;
}
.post-information-self {
  /*background-color: #08729d;*/
  max-height: 250px;
  max-width: 550px;
  overflow: hidden;
  margin: 0 auto;

  /*height: 50%;*/
  /*display: flex;*/
  /*flex: 0 0 100px;*/
  /*max-height: 250px;*/
  /*!*height: 30%;*!*/
  /*!*overflow: hidden;*!*/
}

.post-comments {
  display: flex;
  padding-top: 10px;
  font-size: 1rem;
  border-top: 1px solid #807e78;
}
.post-comments-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/*----------------------------------------------*/
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
}
.error-button {
  max-width: 250px;
  flex-direction: row;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}
.error-button:hover {
  border-radius: 10%;
  color: #08729d;
}
/*===========================================================*/
.comments-container {
  padding: 0 15px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}
.comments-container h2{
  text-align: center;
}
.comment-post-media {
  margin: 0 auto;
}

.comment-post-information {
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.comment-by {
  display: flex;
  flex-wrap: wrap;
}
.comment-by a{
  margin: 0 0.3rem;
}

.comment-video {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.comment-video video{
  width: 100%;
  max-height: 500px;
}
/*-----------------------------------*/
.comment-img-container{
  display: flex;
  justify-content: center;
  /* max-width: 100%; */
  /* margin: 0 auto; */
}
.comment-img-body {
  max-height: 350px;
	overflow: hidden;
}
.comment-img-body img{
  max-width: 100%;
  max-height: 350px;
	/* max-height: 300px; */
	/* object-fit: cover; */

  /* width: 100%;
  max-height: 700px; */
}
/*.comment-img-thumbnail {*/
/*  !*max-width: 200px;*!*/
/*  width: 100%;*/
/*}*/

/*.post-img-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/*--------------------------------*/
.comment-content{
  border-top: 1px solid black;
  padding: 10px;
  max-width: 100%;
}
.comment-icon-container{
  display: flex;
  align-items: center;
}
.comment-icon{
  width: 30px;
  margin: 5px 20px;
}
.comments-body{
  padding-left: 2rem;
  margin: 0.5rem auto;
  font-family: 'Courgette', cursive;
  max-width: 90%;
  
  /*font-family: Serif;*/
  /*max-width: 500px;*/

}
.comment-vote{
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.comment-like {
  width: 18px;
}
.comment-like-rotation
{
  width: 18px;
  transform: rotate(180deg);
}

/* @media (min-width: 834px) and (max-width: 1023px) {
  .post-information-self {
    background-color: aqua;
    max-height: 150px;
    max-width: 430px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 833px){
  .main-container {
    margin: 65px auto 0;
  }  
  .search-box {
    padding-left: 5%;
    width: 43%;
  }  
  .post {
    margin: 0 0 5px 5px;
  }
  .post-information-self {
    max-height: 150px;
    max-width: 360px;
    overflow: hidden;
    background-color: red;

  }  
}; */






@import './media.css';
